################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PW4_TP1_Cavalera_Laverdiere/FileContentIndex
/.vs/web4Api/FileContentIndex
