################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PW4_TP1_Cavalera_Laverdiere/FileContentIndex
/.vs/web4Api/FileContentIndex
/.vs/web4Api/v17/.suo
/.vs/web4Api/v17/.suo
/src/web4.Api/obj/Debug/net8.0/web4.Api.AssemblyInfoInputs.cache
/src/web4.Api/obj/Debug/net8.0/web4.Api.AssemblyInfo.cs
