################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PW4_TP1_Cavalera_Laverdiere/FileContentIndex
/.vs/web4Api/FileContentIndex
/src/web4.Api/obj/Debug/net8.0/Events.Api.AssemblyInfo.cs
/src/web4.Api/obj/Debug/net8.0/Events.Api.AssemblyInfoInputs.cache
